fieldset{
    text-align: center;
    background-color: darkcyan ;
    color: rgb(14, 225, 233);
}
h1{
    background-color: rgb(0, 10, 64);
}
h3{
    color: black;
}  
button{
    width: 6rem;
    height: 2rem;
    color: green;
    border-radius: 5cm;
    background-color: blue;
}  
nav a:hover{
color: brown;
word-spacing: 5px;
}
nov a:visited{
    color: brown;
}